@page
@model IIS.Dashboard.Pages.ApplicationPoolModel
@{
    ViewData["Title"] = "Application Pool - IIS.Dashboard";
}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-page-handler="Refresh" method="post">
                    <button class="btn btn-outline-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10 11H7.101l.001-.009a4.956 4.956 0 0 1 .752-1.787 5.054 5.054 0 0 1 2.2-1.811c.302-.128.617-.226.938-.291a5.078 5.078 0 0 1 2.018 0 4.978 4.978 0 0 1 2.525 1.361l1.416-1.412a7.036 7.036 0 0 0-2.224-1.501 6.921 6.921 0 0 0-1.315-.408 7.079 7.079 0 0 0-2.819 0 6.94 6.94 0 0 0-1.316.409 7.04 7.04 0 0 0-3.08 2.534 6.978 6.978 0 0 0-1.054 2.505c-.028.135-.043.273-.063.41H2l4 4 4-4zm4 2h2.899l-.001.008a4.976 4.976 0 0 1-2.103 3.138 4.943 4.943 0 0 1-1.787.752 5.073 5.073 0 0 1-2.017 0 4.956 4.956 0 0 1-1.787-.752 5.072 5.072 0 0 1-.74-.61L7.05 16.95a7.032 7.032 0 0 0 2.225 1.5c.424.18.867.317 1.315.408a7.07 7.07 0 0 0 2.818 0 7.031 7.031 0 0 0 4.395-2.945 6.974 6.974 0 0 0 1.053-2.503c.027-.135.043-.273.063-.41H22l-4-4-4 4z"></path></svg>
                        &nbsp;Refresh
                    </button>
                </form>

            </div>
            <div class="col-auto">
                <form asp-page-handler="Add" method="post">
                    <button class="btn btn-outline-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"></path></svg>
                        &nbsp;Add New Pool
                    </button>
                </form>
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AppPools.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.AppPools[i].Name</td>
                            <td><span class="@Model.AppPools[i].State"> @Model.AppPools[i].State</span></td>
                            <td>
                                <div class="d-flex">
                                        @if (Model.AppPools[i].State == "Started")
                                        {
                                            <form asp-page-handler="Stop" method="post">
                                                <input type="hidden" name="site" value="@Model.AppPools[i].Name" />
                                                <button class="btn btn-dashboard" title="Start">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7 7h10v10H7z"></path></svg>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-page-handler="Start" method="post">
                                                <input type="hidden" name="site" value="@Model.AppPools[i].Name" />
                                                <button class="btn btn-dashboard" title="Start">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7 6v12l10-6z"></path></svg>
                                                </button>
                                            </form>
                                        }
                                        &nbsp;
                                        <form asp-page-handler="Edit" method="post">
                                            <button class="btn btn-dashboard" title="Edit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg>
                                            </button>
                                        </form>
                                        &nbsp;
                                        <form asp-page-handler="Delete" method="post">
                                            <button class="btn btn-dashboard" title="Delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg>
                                            </button>
                                        </form>
                                </div>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>